@using _03.Bookstore.Areas.Administration.Models
@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "GetAll";
}

<h2>All registered users</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User id</th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Username</td>
            <td>@(item.Role ?? "User")</td>
            <td>@Html.ActionLink("Edit", "EditUser", "Users", new { id = @item.Id }, null)</td>
        </tr>
    }
</table>
@section UserInfo {
    <p>User name: @User.Identity.Name </p>
    <p>Has admin privillages: @User.IsInRole("Administrator") </p>
}

